/vendor/
.php~
/nbproject/
/.idea/
/bin/behat
/bin/phpunit
/build.properties
/ezpublish/cache/
/ezpublish/logs/
/ezpublish_legacy
/ezpublish/config/ezpublish.yml
/ezpublish/config/parameters.yml
/ezpublish/config/legacy_settings/override/environment.ini.append.php
/ezpublish/config/legacy_settings/override/redis.ini.append.php
/ezpublish/config/legacy_settings/override/site.ini.append.php
/web/index_treemenu.php
/web/index_rest.php
/web/index_cluster.php
/web/bundles/
/web/design
/web/extension
/web/share
/web/var
/web/.htaccess
composer.phar
/ezpublish/SymfonyRequirements.php
/ezpublish/bootstrap.php.cache
/ezpublish/check.php
/web/css/
/web/js/
